@font-face {
  font-family: "HCRDotumWeb";
  src: url("/assets/fonts/HCRDotum.woff2") format("woff2"),
       url("/assets/fonts/HCRDotum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1100-11FF, U+3130-318F, U+AC00-D7A3; 
}
@font-face {
  font-family: "HCRDotumWeb";
  src: url("/assets/fonts/HCRDotum-Bold.woff2") format("woff2"),
       url("/assets/fonts/HCRDotum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1100-11FF, U+3130-318F, U+AC00-D7A3;
}